<nav class="navbar navbar-light bg-light">
    <div class="row col-sm-12 col-md-4 center">
        <a class="navbar-brand"><img src="http://galeri.akdeniz.edu.tr/KurumsalKimlik/files/tr/Akdeniz_Universitesi.png" class="img-fluid" alt="Responsive image" width="50px"> SINAV BAŞVURU UYGULAMASI</a>
    </div>
    <div class="row col-sm-12 col-md-4">
        <form class="form-inline">
            <button class="btn btn-outline-success my-2 mr-2 mb-2 my-sm-0" type="submit" (click)="girisYap()"><i class="fas fa-user-alt"></i> Yönetici Girişi</button>
        </form>
    </div>

</nav>