<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>
            <mat-toolbar-row class="">
                <img src="http://galeri.akdeniz.edu.tr/KurumsalKimlik/files/tr/Akdeniz_Universitesi.png" class="img-fluid" alt="Responsive image" width="50px">
            </mat-toolbar-row>
            <mat-toolbar-row class="b-bottom mt-5">
                {{this.ogrenci?.OgrenciAd}} {{this.ogrenci?.OgrenciSoyad}}<br> {{this.ogrenci?.OgrenciNo}}
            </mat-toolbar-row>
            <mat-toolbar-row class="b-bottom mt-2">
                <button [routerLink]="['ogrencidetay']" mat-icon-button color="primary" matTooltipClass="tooltip-edit" matTooltip="Bilgilerimi görüntüle">
                    <mat-icon>perm_identity</mat-icon>
                </button> &nbsp;
                <button mat-icon-button color="primary" matTooltipClass="tooltip-edit" matTooltip="Mesajlar">
                    <mat-icon matBadge="15" matBadgeColor="warn">mail</mat-icon>
                </button> &nbsp;
                <button (click)="CikisYap()" mat-icon-button color="warn" matTooltipClass="tooltip-edit" matTooltip="Çıkış Yap">
                    <mat-icon>power_settings_new</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/ogrenci']">Sınava Başvur</a>
            <a mat-list-item [routerLink]="['./basvurularim']">Başvurularım</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>Sinav Basvuru Modulu </span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>