.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-icon {
    font-size: 30px;
}

.b-bottom {
    border-bottom: 1px solid rgb(223, 223, 223);
    margin-bottom: 5px;
}