/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif!important;
    font-size: 16px;
    background-color: #dee2e68f;
}

.admin-toolbar {
    background-color: teal;
    color: rgb(255, 255, 255);
}